@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Times New Roman", Times, serif  !important;
    line-height: 1.5;
    font-size: 1rem;
    color: #16171a;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 60rem;
    margin: 2rem auto;
    padding: 1rem;
}

header, section {
    padding: 1rem;
}

header {
    flex-basis: 10rem;
    flex-grow: 1;
    position: relative;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    border-bottom: 1px solid #edf2f7; /* Horizontal divider */
    padding: 0 0 1.5rem 0; /* Added 1.5rem padding to the bottom */

}

header li {
    margin-bottom: 0;
    text-align: left;
    margin-right: 1rem;
}

a {
    color: #000;
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

header a {
    text-decoration: none;
    color: #000;
    text-decoration-skip-ink: auto;
}

section {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 70%;
    display: flex;
    flex-direction: column;
}

/* Media query for desktop styles */
@media (min-width: 768px) {
    header ul {
        display: block;
        border-right: 1px solid #edf2f7; /* Vertical divider */
        border-bottom: none; /* Remove horizontal divider */
    }

    header li {
        margin-bottom: 0.2rem;
        text-align: right;
        margin-right: 2rem;
    }
}

/* Style for visited link */
a.text-blue-600:visited {
  color: #551a8b !important;
}